{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="m-2">
		<h1 class="m-2 mb-4">Toutes les séries :</h1>
		{% for program in programs %}
			<div>
				<h2>
					{{ program.poster }}
					{{ program.title }}
					- Genre :
					{{ program.category.name }}</h2>
				<p>{{ program.synopsis }}</p>
				<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
		<div>
			<a href="{{ path('program_new') }}">Ajouter une série</a>
		</div>
		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>

{% endblock %}
